@font-face {
  font-family: "Satoshi Variable";
  src: url("/assets/fonts/Satoshi-Variable.woff2") format("woff"), url("/assets/fonts/Satoshi-Variable.woff2") format("woff2");
  font-weight: 300 900;
  font-style: normal;
}
