/* VARS  */
:root {
  --ease: cubic-bezier(0.625, 0.05, 0, 1);
  --swiper-transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  --orange: #f4783e;
}

/* CUSTOM RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi Variable", sans-serif;
  font-weight: 400;
  color: #fff;
  font-style: normal;
}

img,
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: visible;
}

picture {
  height: 100%;
  display: inline-block;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

input,
select,
textarea {
  background: transparent;
  border: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  background: #0b0b0b;
}

/* RESPONSIVE */
html {
  font-size: clamp(5px, calc(10 * (calc(100vw + 2.1rem) / 1920)), 19px);
  -webkit-tap-highlight-color: transparent;
}

/* === MOBILE LANDSCAPE === */
@media screen and (max-width: 1000px) and (orientation: landscape) {
  html {
    font-size: clamp(3px, calc(10 * (calc(100vw + 2.1rem) / 1920)), 19px);
  }
}

/* === MOBILE PORTRAIT === */
@media screen and (max-width: 481px) and (orientation: portrait) {
  html {
    font-size: calc(10 * (100vw / 430));
  }
}

/* === TABLET PORTRAIT=== */
@media screen and (min-width: 482px) and (max-width: 991px) and (orientation: portrait) {
  html {
    font-size: calc(10 * (100vw / 550));
  }
}

/* SROLLBAR */
::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

/*  SELECTION */
::selection {
  color: var(--orange);
  background-color: #fff;
}

/*  CLIP PATHS */
.clippy {
  position: absolute;
  top: -999px;
  left: -999px;
  width: 0;
  height: 0;
}

.overflow-container,
.overflow-wrapper {
  overflow: hidden;
  width: 100%;
  max-width: 3840px;
  margin-inline: auto;
}

/*  SCROLLBAR */
.is--scroll-bar::-webkit-scrollbar {
  display: block;
  background: rgba(255, 255, 255, 0.03);
  width: 0.5rem;
}

.is--scroll-bar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 0.5rem;
}

@media (orientation: portrait) {
  .is--scroll-bar::-webkit-scrollbar {
    display: none;
  }
}

/*  LENIS */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}

/* GLOBAL GRID  */
.global-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: -1;
}

@media (orientation: portrait) {
  .global-grid {
    opacity: 0.3;
  }
}

/* error validations messages  */
[data-error-message] {
  font-size: clamp(8px, 1.5rem, 20px);
  padding-inline: 2rem;
  margin-top: 0.5rem;
}

[data-form-status-message] {
  font-size: clamp(8px, 2.5rem, 25px);
  margin-top: 2rem;
  text-align: center;
}

@media (orientation: portrait) {
  [data-form-status-message] {
    font-size: 1.8rem;
    width: 80%;
    text-align: center;
  }
}

[data-error-message].is--center,
[data-calendar-error].is--center {
  text-align: center;
}

[data-calendar-error] {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 30rem;
  padding-inline: 0rem;
  font-size: clamp(8px, 1.4rem, 20px);
  margin-top: 0.5rem;
  text-align: center;
  justify-content: center;
}

[data-validate-field] {
  display: flex;
  flex-direction: column;
}

/* loading layer  */
.loading-layer {
  position: fixed;
  z-index: 150;
  width: 100%;
  height: 100dvh;
  top: 0;
  left: 0;
  background: rgba(11, 11, 11, 0.8);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  justify-content: center;
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.6s var(--ease),
    visibility 0s var(--ease);
}

html[data-loading] .loading-layer {
  opacity: 1;
  visibility: visible;
}

.loading-layer svg {
  width: 6rem;
  height: 6rem;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.loading-layer svg circle {
  fill: none;
  stroke: var(--orange);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

[data-show-hide] {
  position: relative;
  width: 100%;
}

[data-show-hide] .show-hide {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  z-index: 1;
}

[data-show-hide] input {
  width: 100%;
}

[data-show-hide] .show-hide button {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  cursor: pointer;
}

@media (orientation: portrait) {
  [data-show-hide] .show-hide {
    width: 2rem;
    height: 2rem;
  }
}
